@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Spline+Sans+Mono:wght@300&display=swap');

:root {
    --body:#f6f6e9;
    --green: #468186;
    --orange: #eb5b2d;
    --dark: #291b25;
    --grey: #e6e7e8;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Quicksand, sans-serif;
    background-color: var(--body);
    min-height: 100vh;
}

p {
    font-family: Spline Sans Mono, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--orange);
}

/* Message popup */

#msg {
    font-family: Spline Sans Mono, sans-serif;
    background-color: var(--green);
    color: var(--white);
}

/* NavBar */

.nav-item{
    font-family: Spline Sans Mono, sans-serif;
    font-size: 20px;
}

.nav-link {
    position: relative;
}

/* Underline effect */

.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: calc(50%);
    /* left: 0; */
    right: 0;
    background-color: var(--orange);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 991px) {
    .nav-link:before {
        left: 0;
        width: 20%;
    }
}

.nav-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar-logo {
    max-width: 200px;
    margin-left: 1rem;
}


.navbar-collapse {
    flex-grow: 0;
}

.navbar-toggler {
    font-size: 1.5rem;
    line-height: 2;
    border: rgba(0, 0, 0, 0);
}

/*Carousel */

.carousel, 
.carousel-item {
    height: 50vh;
    min-height: 500px;
}

.carousel-item img{
    overflow: hidden;
    position: relative;
}

.carousel-title {
    position: absolute;
    top: 0%;
    padding-left: 2rem;
    width: 100%;
    z-index: 100;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-image {
    position: center;
    object-fit: cover;
}

.hero-text {
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 4px;
    max-width: 400px;
    padding: 10px;
    bottom: 10%;
    left: 10%;
    position: absolute;
    background-color: var(--dark);
    color: var(--white)
}

.hero-text h1 {
    font-size: 300%;
}

@media screen and (max-width: 930px) {
    .hero-text {
        font-size: 120%;
        width: 350px;
    }
}
@media screen and (max-width: 490px) {
    .hero-text {
        font-size: 80%;
        width: 270px;
        left: 15%;
    }
}
@media screen and (max-width: 400px) {
    .hero-text {
        font-size: 75%;
        width: 255px;
        left: 9%;
    }
}

/*Post Card */

.card-img {
    height: 300px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.card {
    border: none;
    background-color: var(--white);
    transition: 0.3s ease-out;
}

.card:hover {
    box-shadow: 5px 10px 10px var(--green);
    transform: scale(1.01);
}

.card-detail {
    border: none;
    background-color: var(--white);
}

/* If User not authorised will block content */

.card-body-unauth {
    margin: 1rem;
    background-color: var(--dark);
    opacity: 0.4;
}

.card-body-unauth p {
    font-size: 1.25rem;
    color: var(--white);
    margin-left: 1rem;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    border-radius: 2%;
    background-color: var(--dark);
}

.edit-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    right: -2px;
    background-color: var(--dark);
}

.author {
    color: var(--white);
    margin: 4px;
    text-transform: uppercase;
}

.thin {
    font-weight: 300;
}

/* Post Detail */

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: var(--green);
    color: var(--white);
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: var(--green);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: var(--green);
}

.post-link:hover,
.page-link {
    color: var(--orange);
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: var(--grey);
}

/* Profile Page*/

.account-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.account-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 1rem;
}

.media-body {
    margin: 1rem;
}

/*links and buttons*/

.link {
    color: var(--green);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--green);
    text-decoration: underline;
}

.btn-like {
    color: var(--orange);
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: var(--orange);
    background: transparent;
    border: none;
}

.btn-lg:hover {
    color: var(--orange);
}

/* Footer */

.footer p {
    color: var(--dark);
}

.footer i {
    font-size: 1.5rem;
}
