@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Spline+Sans+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Quicksand, sans-serif;
    /* background-image: url('https://res.cloudinary.com/yescoops/image/upload/v1654601844/Wavey_Background_-_large_odnita.png'); */
    background-color: #f6f6e9;
    min-height: 100vh;
}

p {
    font-family: Spline Sans Mono, sans-serif;
}

/* NavBar */

.nav-item{
    font-family: Spline Sans Mono, sans-serif;
    font-size: 20px;
}

.nav-link {
    position: relative;
}

.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: calc(50%);
    /* left: 0; */
    right: 0;
    background-color: #e70c0c;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar-logo {
    max-width: 300px;
    margin: 0;
}

.navbar-collapse {
    flex-grow: 0;
}

/*Post Card */

.card-img {
    height: 300px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.card {
    border: none;
    background-color: #ffffff;
    transition: 0.3s ease-out;
}

.card:hover {
    box-shadow: 5px 10px 10px #e98c98;
    transform: scale(1.01);
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    border-radius: 2%;
    background-color: #23BBBB;
}

.edit-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    right: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.brand {
    font-size: 1.4rem;
    color: #4A4A4F;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #e70c0c;
}


.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.account-img {
    max-width: 400px;
    object-fit: cover;
}

.carousel, 
.carousel-item {
    height: 50vh;
}

.carousel-item img{
    overflow: hidden;
    position: relative;
}

.carousel-title {
    position: absolute;
    top: 0%;
    padding-left: 2rem;
    width: 100%;
    z-index: 100;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}
