{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!--Carousel-->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" data-interval="3000">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="#">
                        <img src="https://res.cloudinary.com/yescoops/image/upload/v1655123305/commercial-and-bedroom-producer_fiogrk.jpg"
                            class="d-block w-100 carousel-image" alt="Picture of a bedroom producer">
                    </a>
                    <div class="hero-text">
                        <h1>GET WAVEY</h1>
                        <p>Prouduction tips and tricks to take your electronic music to the next level</p>
                        <a href="{% url 'register' %}">Sign Up >></a>
                    </div>
                </div>
                <div class="carousel-item">
                    <h1 class="carousel-title">Super Speedy Synthesis Tips</h1>
                    <a href="#">
                        <img src="https://res.cloudinary.com/yescoops/image/upload/v1654601674/Music_Production_xl1b0i.jpg"
                            class="d-block w-100 carousel-image" alt="Photo of studio equipment">
                    </a>
                </div>
                <div class="carousel-item">
                    <h1 class="carousel-title">4 ways to create atmosphere and texture with processed vocals</h1>
                    <a href="#">
                        <img src="https://res.cloudinary.com/yescoops/image/upload/v1655156878/n1chnucq1ldeujl6blcy.jpg"
                            class="d-block w-100 carousel-image" alt="Picture of a microphone">
                    </a>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row mx-auto">
            <h2 class="mt-3">ARTICLES</h2>
        </div>
        <!-- Post Entry -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top card-img"
                                    src="https://res.cloudinary.com/yescoops/image/upload/v1654601674/Music_Production_xl1b0i.jpg"
                                    alt="Photo of bedroom producer">
                                {% else %}
                                <img class="card-img-top card-img" src=" {{ post.featured_image.url }}"
                                    alt="{{ post.title }}">
                                {% endif %}
                                {% if user.is_authenticated %}
                                <div class="image-flash">
                                    <a class="author" href="{% url 'profile' %}">{{ post.author }}</a>
                                </div>
                                {% else %}
                                <div class="image-flash">
                                    <p class="author">{{ post.author }}</p>
                                </div>
                                {% endif %}
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link stretched-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on|date:"F d, Y" }} <i
                                    class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
{%endblock%}