{% extends 'base.html' %} {% block content %}
{% load cloudinary %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">
                    {{ post.title }}
                </h1>
                <p class="post-subtitle"> {{ post.author }} | {{ post.created_on|date:"F d, Y" }}</p>
                {% if post.author == user %}
                <a class="post-subtitle" href="{% url 'update_post' post.slug %}">Update</a>
                <a class="post-subtitle" href="{% url 'delete_post' post.slug %}">Delete</a>
                {% endif %}
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/yescoops/image/upload/v1654601674/Music_Production_xl1b0i.jpg"
                    width="100%">
                {% else %}
                <img src="{{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card-detail mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">{{ post.content | safe }}</p>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form action="{% url 'post_like' post.slug%}" method="POST" class="d-inline">
                                {% csrf_token %}
                                {% if liked %}
                                <button class="btn-like" type="submit" name="blogpost_id" value="{{post.slug}}"><i
                                        class="fas fa-heart"></i></button>
                                {% else %}
                                <button class="btn-like" type="submit" name="blogpost_id" value="{{post.slug}}"><i
                                        class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}

                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card-detail mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- for loop iterates through all comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class="text-muted font-weight-light">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment -->
                    {{ comment.body | safe }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card-detail mb-4  mt-3 ">
            {% if user.is_authenticated %}
            <div class="card-body">
                <h3>Leave a comment:</h3>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-lg">Submit</button>
                </form>
            {% else %}
                <div class="card-body-unauth">
                    <p>
                        <a href="{% url 'account_login' %}">Login</a>
                        or
                        <a href="{% url 'register' %}">register</a>
                        to leave a comment
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}